aside {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 100%;
  padding: 1rem;
  background-color: #f0f0f0;
}
.title {
  font-size: 17px;
  margin: 10px 0;
}
label {
  font-size: 16px;
  font-weight: bold;
}
.infos {
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}
.techs {
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}
.certificados {
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}
.cont-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 15px 0;
}
.techs {
  display: flex;
  flex-direction: column;
}
ul {
  list-style: none;
  padding-left: 0;
}
li {
  font-size: 16px;
  margin: 10px 0;
  font-weight: bold;
}
